
<div class="body">
    <div [ngStyle]="{'background-image': 'url(assets/images/rice.jpg)'}" class="landing-bg">
  <!-- your content -->


    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=Madurai&family=Poppins:wght@600&display=swap" rel="stylesheet">
  


  
   <div class="card">
    <div class="slogan1">
      இது நம்ம <span class="highlight">Cabin</span>!<br>
      இது நம்ம <span class="highlight">Area</span>!
      
      <div class="slogan2">so,</div>
      <!-- <div class="cabinteria"><b> Cabinteria...!</b></div> -->
    </div>
  </div>

  <div class="overlay" routerLink="/login">
    <a class="card1">
        
      <h1>Welcome to <span>Cabinteria</span></h1>
      <p>Delicious food delivered right to your cabin 🍴</p>
    </a>
  </div>


</div>
</div>