 <div class="container">
  <h2 class="title">🍴 Food Menu</h2>
<div class="">
  <h1>Breakfast foods</h1>
  <div class="food-grid">
    <div class="card" *ngFor="let item of breakfast">
      <img [src]="item.image" [alt]="item.name" />
      <h3>{{ item.name }}</h3>
      <h3>{{item.price}}</h3>

      <div class="qty-control">
        <button (click)="decreaseQty(item)">-</button>
        <span>{{ item.quantity }}</span>
        <button (click)="increaseQty(item)">+</button>
      </div>
    </div>
  </div>
  </div>

<div class="">
  <h1>Lunch foods</h1>
  <div class="food-grid">
    <div class="card" *ngFor="let item of lunchfoods">
      <img [src]="item.image" [alt]="item.name" />
      <h3>{{ item.name }}</h3>
      <h3>{{item.price}}</h3>

      <div class="qty-control">
        <button (click)="decreaseQty(item)">-</button>
        <span>{{ item.quantity }}</span>
        <button (click)="increaseQty(item)">+</button>
      </div>
    </div>
  </div>
  </div>



</div> 
<div class="checkout" *ngIf="getSelectedItems().length > 0">
    <h2>🛒 Checkout</h2>
    <table>
      <tr>
        <th>Food Item</th>
        <th>Qty</th>
        <th>Price</th>
        <th>Total</th>
      </tr>
      <tr *ngFor="let item of getSelectedItems()">
        <td>{{ item.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>₹{{ item.price }}</td>
        <td>₹{{ item.quantity * item.price }}</td>
      </tr>
      <tr class="grand-total">
        <td colspan="3"><b>Grand Total</b></td>
        <td><b>₹{{ getTotal() }}</b></td>
      </tr>
    </table>
    <button class="btn" (click)="checkout()">Proceed to Pay</button>
  </div>

