<!-- <p>about works!</p> -->
 <div class="about-container">
  <div class="card">
    <h2>Cabinteria</h2>
    <p>
      Our project <b>Cabinteria</b> is a food ordering system designed for 
      college faculty. Teachers can order breakfast and lunch, and food will be 
      delivered directly to their cabins.
    </p>
    <p>
      Built with <b>Angular</b> (frontend) and <b>Spring Boot</b> (backend),
      and <b>MySQL</b> for database management.
    </p>
    
  </div>
</div>

<div class="team-container">
  <h2>Our Team</h2>
  <div class="team-members">
    
    <div class="team-card">
      <a routerLink="/sudhir">
       
      <img src="https://via.placeholder.com/150" alt="Member 1">
      <h3>Sudhir Kumar</h3>
      <p>Full stack Developer</p>
      </a>
     
    </div>
    <div class="team-card">
      <a routerLink="/nantha">
      <img src="https://via.placeholder.com/150" alt="Member 1">
      <h3>Nanthakumar</h3>
      <p>Frontend Developer</p>
      </a>
    </div>

    <div class="team-card">
      <img src="https://via.placeholder.com/150" alt="Member 2">
      <h3>MohanSai</h3>
      <p>Database Engineer</p>
    </div>

    <div class="team-card">
      <img src="https://via.placeholder.com/150" alt="Member 3">
      <h3>Arun</h3>
      <p>Database Engineer</p>
    </div>

    <div class="team-card">
      <img src="https://via.placeholder.com/150" alt="Member 4">
      <h3>Viswa</h3>
      <p>Backend Developer</p>
    </div>
  </div>
</div>


